{% extends 'base.html.twig' %}

{% block title %}Record #{{ raccoltum.id }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Record #{{ raccoltum.id }}</h1>
        <div class="row">
            <div class="col-lg-6"><h3>Anno: {{ raccoltum.anno }}</h3></div>
            <div class="col-lg-6 text-right"><h3>Data: {{ raccoltum.data ? raccoltum.data|date('d/m/Y') : '' }}</h3></div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Kg olive</th>
                <td>{{ raccoltum.kgOlive }}</td>
            </tr>
            <tr>
                <th>Kg olio</th>
                <td>{{ raccoltum.kgOlio }}</td>
            </tr>
            <tr>
                <th>Resa litri/quintale</th>
                <td>{{ raccoltum.resaLtQt }}</td>
            </tr>
            <tr>
                <th>Litri teorici</th>
                <td>{{ raccoltum.litriTeorici }}</td>
            </tr>
            <tr>
                <th>Litri reali</th>
                <td>{{ raccoltum.litriReali }}</td>
            </tr>
            <tr>
                <th>Spesa</th>
                <td>&euro; {{ raccoltum.spesa }}</td>
            </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-outline-primary btn-sm"><a href="{{ path('raccolta_index') }}">Indietro</a></button>
        <button type="button" class="btn btn-outline-primary btn-sm"><a href="{{ path('raccolta_edit', {'id': raccoltum.id}) }}">modifica</a></button>
        <br/><br/>
        {{ include('raccolta/_delete_form.html.twig') }}
    </div>
{% endblock %}
